/* Webpage Style */

html{
    font-size: 16px;
    background-color: #5DB0F0;
}

body{
    border: solid 2px black;
    border-radius: 5%;
    margin: 5%;
    background-color: #C70039;
    line-height: 1.2;
    box-sizing: border-box;
}

footer{
    padding-left: 30px;
}

/* Font Styles */
h1{
    font-size: 30px;
    font-weight: 700;
}

h2{
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
}

h3{
    font-size: 20px;
    font-weight: 550;
    margin: 10px;
    text-decoration: underline;
}

/* List Styles */
ol{
    list-style: inside;
    list-style-type: number;
}

ul{
    list-style: inside;
    list-style-type: disc;
}

/* Class Styles */
.bgmargin{
    margin: 8%;
}

 